<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{current.title}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="http://localhost:81/{{current.image}}" alt="City">
    <mat-card-content>
      <p>
      {{current.address}}
      {{current.city}}
      {{current.pin}}
          </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
