<table cellpadding="0px" cellspacing="0px"  border="0px" class="main-menu"><tr><td  width="95%">
<table cellpadding="5px" cellspacing="0px" border="0px" class="menu"><tr>
    <td>
        <a routerLink="/"> Home </a>
    </td>
    <td>
        <a routerLink="/product"> Product </a>
        </td>
        <td>
            <a routerLink="/company"> Company</a>
            </td>
            <td>
                <a routerLink="/contact"> Contact</a>
                </td>
</tr></table>
</td><td class="links"> <img src="assets/images/facebook.png" alt="facebook" class="icon"></td></tr></table>


