<div class="footer">
    <table width="100%" height="100%" border="0px">
        <tr>
            <td width="25%"><img src="assets/images/dedalus-logo-white.svg" alt="Dedalus logo" /></td>
            <td width="30%">Email : gganesan5@dedalus.com</td>
            <td>For more information about Dedalus solutions available in the different markets, please go to the respective site.</td>
            </tr>
            <tr><td colspan="3" >
                <span class="footer1">© 2021 Dedalus S.p.A. - Piazza Santissima Trinità 6 - 20154 - Milano (MI)</span>
            </td>
            
        </tr>
    </table>    
</div>
<br><br>
